.inputArea{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  min-height: 500px;
  height: 40%;

}

.tableDiv{
    height: 100%;
    width: 65%;
    float: left;
    display:inline-block;
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: lightgray;
    background-color: white;
}

.radioButtonDiv{
    width: 20%;
    float: left;
    height: 500px;
    background-color: white;
}

.unitListDiv{
  width: 15%;
  float: left;
  height: 100%;
  border-width: 0 4px 0 0;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
}


.unitListDiv-overskrift{
    width: 100%;
    display: flex;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: bottom;
    background-color: lightgray;

}
.unitListDiv-overskrift-tekst{
    float:left;
    margin-left: 5px;
    margin-right: auto;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
}

.radioButtonDiv-overskrift{
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
    background-color: lightgray;

}



.unitListDiv-overskrift-knapp{
    float:left;
    margin-right: 2px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    height: 34px;

}

.unitListDiv-overskrift-knapp:hover{
  background-color: darkgrey;
}

.unitListDiv-overskrift-knapp:active{
  background-color: lightgray;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
  opacity: 0.8;
}

.delete-btn:hover{
  opacity: 1;
}

.unit-list-item:hover > .delete-btn {
    display: flex;
    align-items: flex-end;
}

.unit-list-item:hover{
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}


.unit-list-item {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;

  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
}

.unit-list-item-name{
  margin-right: auto;
}

.selected-unit-list-item{
  background-color: #ececec;
  font-weight: bold;
}


.unit-list-item--delete {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.unitListDiv-liste{
  height: 460px;
  overflow-y: auto;
}
