.inputArea{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  min-height: 500px;
  height: 40%;

}

.tableDiv{
    height: 450px;
    width: 65%;
    float: left;
    display:inline-block;
    background-color: white;
}

.radioButtonDiv{
    width: 20%;
    float: left;
    height: 450px;
    background-color: white;
}

.unitListDiv{
  width: 15%;
  float: left;
  height: 450px;
  border-width: 0 4px 0 0;
  border-style: solid;
  border-color: #ececec;
  background-color: white;
}


.unitListDiv-overskrift{
    width: 100%;
    display: flex;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: bottom;

    padding-left: 5px;

}
.unitListDiv-overskrift-tekst{

    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    font-weight: bold;

}

.radioButtonDiv-overskrift{
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
    background-color: #ececec;

}

.unitListDiv-overskrift-knapp{
    float:left;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    height: 34px;

}

.unitListDiv-overskrift-knapp:hover{
  background-color: darkgrey;
}

.unitListDiv-overskrift-knapp:active{
  background-color: lightgray;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
  opacity: 0.7;
}

.delete-btn:hover{
  opacity: 1;
}

.unit-list-item:hover > .delete-btn {
    display: flex;
    align-items: flex-end;
}

.unit-list-item:hover{
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}


.unit-list-item {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;

  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
}

.unit-list-item-name{
  margin-right: auto;
}

.selected-unit-list-item{
  background-color: #ececec;
  font-weight: bold;
}


.unit-list-item--delete {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.unitListDiv-liste{
  height: 370px;
  overflow-y: auto;
}

.project-headline{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  background-color: black;
  color: white;
}

.project-headline-projectName{
  display: flex;
  padding-left: 40px;
  padding-right: 20px;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  font-size: 18px;
}

.project-headline-leftcol{
  width: 15%;
  height: 35px;
}
.project-headline-rightcol{
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
}

.project-headline-midcol{
  display: flex;
  width: 65%;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.project-headline-knapp{
    float:left;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 30px;
}


.project-headline-knapp-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 12px;
  padding-right: 20px;
  font-weight: normal;
}

.project-headline-knapp-div:hover{
    opacity: 0.5;
    cursor: pointer;
}

.handlingsKnapp-unitList{
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}
