.toolCard{
  height: 200px;
  width: 200px;
  margin: 20px 20px 20px 20px;
  background-color: none;
}

@media screen and (max-width: 1000px) {
  .toolCard {
    height: 450px;
    width: 450px;
    font-size: 30px;
  }
}


.toolCard:hover{
  box-shadow: 0px 0px 10px 6px #c7c7c7;
  transition: 0.5s;
}


.toolCardBack{
  margin: 10px;
  font-size: 15px;
  background-color: none;
  text-indent: 20px;
  width: 280px;
  letter-spacing: 1px;
  text-align: center;
}
.toolCardBack:hover{
  cursor: pointer;
}
.filler{
  width: 280px;
}

.cardTitle{
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.cardInfo{
  display: flex;
  padding-top: 10px;
}

.cardPic{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hiddenCard{
  display: none;
}

.banner{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.bigbanner{
  padding-top: 20px;
  height: 400px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.toolHeadLine{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin: auto;
}
