.toolCard{
  height: 200px;
  width: 200px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #d7d7d7;
}

.toolCardBack{
  height: 100px;
  width: 100px;
  margin: 10px;
  font-size: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #d7d7d7;
}

.toolCard:hover{
  box-shadow: 0px 0px 10px 6px #c7c7c7;
  transition: 0.5s;
}

.cardTitle{
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.toolList{
  display: flex;
  width: 100%;
}

.cardPic{
  width: 80%;
  height: 80%;
  padding-left: 10%
}

.hiddenCard{
  display: none;
}
