.toolArea{
  margin-top: 50px;
  background-color: #e7e7e7;
  padding-bottom: 200px;
}

.hiddenTool{
  display: none;
}

.toolInfo{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
