.ekspansjonskar-dataArea{
  min-height: 350px;

}

.ekspansjonskar-inndatalinje{
  display: flex;
  flex-direction: row;
  margin-left: calc(50% - 300px);
  margin-bottom: 5px;
  height: 30px;
  
}
.ekspansjonskar-inndataTittel{
  padding: 5px;
  /*
  background-color: white;
  border: 1px solid #c7c7c7;
  */
  width: 300px;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
  

}
.ekspansjonskar-inndataVerdi{
  padding: 5px;
  background-color: white;
  border: 1px solid #c7c7c7;
  width: 150px;
  
}

.ekspansjonskar-input,.ekspansjonskar-select{
  border: none;
  width: 100%;
  height: 100%;
  outline-width: 0;
  text-align: center;
  padding-right: 15px;
  
}

.inndata-disabled{
  background-color: #e7e7e7;
}

.ekspansjonskar-select:focus{
  border: none;
}

.ekspansjonskar-beregning{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.ekspansjonskar-resultatLinje{
  display: flex;
  background-color: white;
  border-top: 1px solid #c7c7c7;
  line-height: 30px;
  white-space:nowrap;

}
.ekspansjonskar-resultatOverskrift{
  display: flex;
  background-color: #d7d7d7;
}
.ekspansjonskar-resultatcelle{
  padding: 5px;
}

.eksp-resultat-large{
  width: 450px;
  text-indent: 10px;
}
.eksp-resultat-medium{
  width: 150px;
  text-align: center;
}
.eksp-resultat-small{
  width: 100px;
  text-align: center;
}
